@import url('homepage.css');
@import url('search.css');
@import url('sidebars.css');
@import url('markdown.css');

:root {
  --ifm-color-primary: #4eacf8;
  --ifm-color-primary-dark: #287ea7;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #33698d;
  --ifm-color-primary-light: #2990d5;
  --ifm-color-primary-lighter: #328dd8;
  --ifm-color-primary-lightest: #4f98dd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #257bc2;
  --ifm-color-primary-dark: #2182af;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #1a5c88;
  --ifm-color-primary-light: #2990d5;
  --ifm-color-primary-lighter: #328dd8;
  --ifm-color-primary-lightest: #4f98dd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@layer docusaurus.theme-classic {
  .toggle_vylO {
    margin-left: 0.15rem;
  }
}
@layer docusaurus.infima {
  .navbar__logo {
    margin-right: 0.85rem;
  }
}
footer {
  display: none !important;
}

@layer docusaurus.infima {

  html[data-theme="dark"] {
    background:rgb(25, 25, 27);
    --ifm-background-surface-color: rgb(26, 26, 28);
    --ifm-footer-background-color: rgb(25, 25, 27);
  }
  html[data-theme="light"] {
    --ifm-background-surface-color: rgb(252, 252, 252);
    --ifm-footer-background-color: #1f1f22;
  }

  [data-theme='dark'] .footer--dark {
    --ifm-footer-background-color: #161618;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
  }
  [data-theme='light'] .footer {
    --ifm-footer-title-color: black;
    --ifm-footer-background-color: rgb(250, 250, 255);
    --ifm-footer-color: black;
    --ifm-footer-link-color: rgb(65, 100, 146);
  }
  
}


