/* search bar, algolia doc search appearance */

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);

  --docsearch-searchbox-background: var(--ifm-color-secondary);

  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  --docsearch-hit-background: var(--ifm-color-white);

  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);

  --docsearch-footer-background: var(--ifm-color-white);
  border-radius: 10px;
}
[data-theme='dark'] .DocSearch {
  --docsearch-key-background: #212124;
  border: 1px  var(--docsearch-key-background) solid;
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(1, 1, 1, 0.3);

  --docsearch-searchbox-background: var(--ifm-background-color);

  --docsearch-searchbox-focus-background: rgb(26, 26, 34);
  --docsearch-modal-background: rgb(26, 26, 34);
  --docsearch-hit-background: rgb(26, 26, 34);

  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);

  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  border-radius: 10px;
}

@layer docusaurus.theme-search-algolia.docsearch {
  .DocSearch-Form {
    border-bottom: none !important;
    border-radius: 10px !important;
  }
}

@layer docusaurus.theme-search-algolia.docsearch {
  .DocSearch-Modal {
    border-radius: 10px !important;
    margin: 110px auto auto !important;
  }
}